<div class="container-fluid text-center">
	<div class="footer-update">
		<h1>
		<span class="fa fa-anchor" data-toggle="tooltip" data-placement="left" title="Updates from around Thwad!">Updates</span>
		</h1>
		<br>
			<div class="jumbotron">
			<div class="rows container-updates clearfix">
				<div class="col-sm-3">
					<div class="thumbnail">
						<h2>1</h2>
						<h3>Dummy description</h3>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="thumbnail">
						<h2>2</h2>
						<h3>Dummy description</h3>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="thumbnail">
						<h2>3</h2>
						<h3>Dummy description</h3>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="thumbnail">
						<h2>4</h2>
						<h3>Dummy description</h3>
					</div>
				</div>
			</div>
			</div>
	</div>
</div>