<nav class="navbar navbar-default mynav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header orangeT">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand orangeT" style="font-size: 40px; font-family: 'Satisfy', Courier, monospace;" href="/inside">GraFund</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse orangeT" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                {{# unless login }}
                <li><a href="/how-it-works"><i class="" aria-hidden="true"></i> How it works</a></li>

                <li><a href="/about-us"><i class="" aria-hidden="true"></i> About</a></li>

                <li><a href="/terms-of-privacy"><i class="" aria-hidden="true"></i> Terms Of Privacy</a></li>

                <li><a href="/testimonies"><i class="" aria-hidden="true"></i> Testimonies</a></li>

                <li><a href="/user/login"><i class="" aria-hidden="true"></i> Login</a></li>
                {{ else }}
                <li><a href="/plans"><i class="" aria-hidden="true"></i> Plans</a></li>
                {{/unless}}
                
                
                {{# if login }}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/help">Contact Admin</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                 {{ else }}
                 {{/if}}
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>