<div id="leftnav" class="leftnav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="user/profile">User Profile</a>
  <a href="#">Referrals</a>
  <a href="order">Transactions</a>
  <a href="mypacks">Wallet</a>
  <br>
  <a href="#">Webinar</a>
  <a href="#">Jobs</a>
  <a href="user/community">Comunity</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <span style="font-size:25px;cursor:pointer" data-toggle="tooltip" data-placement="left" title="User Profile Management & links" onclick="openNav()">&#9776; Profile</span>
</div>
