<!DOCTYPE html>
<html>
<head>
	<title>Thwad | Market</title>
	{{> head_profile }}
	<style>
		body {
			padding-top: 80px;
		}
		body, html {
		    height: 100%;
		}

		.parallax {
		    /* The image used */
		    background-image: url('img_parallax.jpg');

		    /* Full height */
		    height: 100%; 

		    /* Create the parallax scrolling effect */
		    background-attachment: fixed;
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: cover;
		}

	</style>
</head>
<body>
{{> header }}
	<div class="container">
		<div class="jumbotron">
			<h1>
				Welcome to the FAQ page!!!.
			</h1>
			<p>
				Here you can find answers to frequently asked questions.
			</p>
			<p>
				Plus other resources.
			</p>
		</div>
	</div>
	
{{> footer-script }}