<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{> head }}
<style>
</style>
</head>
<body>

<h2 style="text-align:center">Thwad's peer to peer system</h2>
<p style="text-align:center">All you need to know about thwad's p2p system.</p>

<div class="row">
    <div class="container">
        
    </div>
</div>

<div>
    <div>
        
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div style="text-align:center; ">
    <p><a href="/p2p-choose" class="btn btn-success btn-lg">Accept</a></p>
    <p><a href="/general" class="btn btn-warning btn-lg">Decline</a></p>
</div>

</body>
</html>
