<head>
	<style type="text/css">
		body {
			background-image: none;
			background-color: #b94cb9;
			/*font-family: 'Satisfy', Courier, monospace;*/
		}
		div>p>a {
			color: white;

		}
	</style>
</head>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    What we are all about. </h3>
  </div>
  <div class="panel-body">
Grafund is a platform built to encourage peer to peer donations liberating people from poverty. Develop a steady source of extra cash.<br>
We want to help limit the poverty population by encouraging members to donate to one another.<br>
Our team of experienced engineers work round the clock to ensure maximum server uptime.<br>
The network logic is powered by an AI(Artificial Intelligence) designed to automatically pair members on the model of first to pay, first to get payed.<br>
If it's to improve our standard of living...? then it's Grafund.
  </div>
</div>