<head>
	<style type="text/css">
		body {
			background-image: none;
			background-color: #b94cb9;
			/*font-family: 'Satisfy', Courier, monospace;*/
		}
		div>p>a {
			color: white;

		}
	</style>
</head>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    How does Grafund work?... read on. </h3>
  </div>
  <div class="panel-body">
	Yes! Its that simple! pay one, and get paid by two in 5 minutes - 72 hours. Our system works on first come first served basis, all who paid earlier are paired to receive in succession.<br> 
	when you register and donate, you will receive in a matter of minutes to hours from two other grafunders.
  </div>

  <div class="panel-body">
  So Get 200% returns in 5 minutes to 72hours(3 days). when merged to pay a member, you have 3hours to make payment, and once you have payed, you will be merged with two members under the same plan as you.<br>
  Get paired immediately after Confirmation
  And remove none paying members after 5 hours yourself with the purge Button.
  </div>
</div>