	<div class="jumbotron text-center" style="background:transparent">
		<h1 class="title-text">GraFund</h1>

			<div class="jumbotron text-center white-with-blue-shadow" style="background:transparent">
				<p class="myP">
				Get Paid within 5 minutes to 72hours. <br>
				Its real and here to stay!
				</p>

			</div>
	
	<!-- Button to main page with more info  -->
	<div class="container">
		<div class="jumbotron text-center" style="background:transparent">
			<a href="/inside" id="show" class="mybtn btn btn-success btn-lg mybtn" style="font-size:30px">Coming Soon</a>
			<!-- footer and attribution -->
			<div class="text-center">
				
			</div>
		</div>
	</div>

	</div>

{{> coming }}