<head>
	<style type="text/css">
		body {
			background-image: none;
			background-color: #b94cb9;
			/*font-family: 'Satisfy', Courier, monospace;*/
		}
		div>p>a {
			color: white;
		}
		.panel-heading {
			background-color: orange;
		}
	</style>
</head>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    Grafund's Privacy Terms. </h3>
  </div>
  <div class="panel-body">
	By joining Grafund you agree to the following privacy terms and conditions.<br>
	Grafund will not be held liable to any loss of property, by use and or participating on the platform, we advise that you only participate with money you wont miss.
  </div>

  <div class="panel-body">
  <h3>Terms of use</h3>
  Grafund uses your email address, name and account information to authenticate and issue you your (user dashboard)"user space" as we call it.<br>
  We also use these information to identify you properly for merging and other purposes.<br><br>
  Note that we do not share your email or account information with any 3rd party organisation.<br>

  </div>

  <div class="panel-body">
  For privacy reasons, if you wish to alter your account details you must write to us via the "Contact Admin" link. 
  </div>
</div>